extends layout

block content
  article(ng-controller="myCtrl")
    h1= title
    p Welcome to #{title}
    h1 {{name}}
    nombre {{query}}
    br    
    preguntas
    input(type="text" ng-model="query")
    button(value="enviar" ng-click="search()") enviar
    section(class="row")
    div( ng-repeat="pregunta in jql.Question")      
      div(class="small-12 medium-6 large-4 columns")      
        h2{{$index+1}} : {{pregunta.Subject}}
        p {{pregunta.Content}}
          h4 
            a(ng-href="{{pregunta.Link}}" class="button") ver
      div(class="clearfix" ng-show="{{isClearAffix($index,3)}}")