doctype html
html(ng-app='myApp')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/foundation.css')
    link(rel='stylesheet', href='/stylesheets/normalize.css')
  body
  article(class="row")
    block content    
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/angular.min.js')
    script(src='/javascripts/foundation.min.js')
    script(src='/javascripts/app/app.js')
    